// Specific CSS for your home-page

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1350px !important;
  }
}

.todo-title {
  font-size: 1.3rem;
}

.container-form {
  background-color: $light-blue;
}

.new-todo {
  font-size: 1rem;
}

.card {
  cursor: grab;
}

.fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
 @-webkit-keyframes fade-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes fade-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
