<nav class="navbar navbar-light shadow-sm" style="background-color: #fff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://cdn.svgporn.com/logos/trello.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      Treelo
    </a>
  </div>
</nav>
