<div class="bg-section">
  <div class="home-block">
    <div class="container">
      <h2>Treelo, your favorite<small class="text-muted"> todolist</small></h2>
      <p class="mb-4">Login below to create lots of lists of todos</p>
      <div class="form-home">
        <%= render 'shared/form-home' %>
      </div>
      <p class="mt-3">or <%= link_to "sign up if you don't have any account", new_user_registration_path %></p>
    </div>
  </div>
</div>
