<h1>Todos</h1>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col" data-controller="todos">
        <h3><%= list.name.capitalize %></h3>
        <div class="<%= list.id %>" data-todos-target="todoList" data-controller="drag" data-drag-url="todos/:id/move">
          <% list.todos.order(position: :asc).each do |todo| %>
            <%= render partial: 'todos/show', locals: { todo: todo }  %>
          <% end %>
        </div>
       <%= render partial: 'todos/form', locals: { list_id: list.id } %>
      </div>
    <% end %>
  </div>
</div>
