<div class="navbar navbar-expand-sm navbar-light shadow-sm" style="background-color: #fff;">
  <div class="container-fluid">
    <a class="navbar-brand ms-4" href="/">
      <img src="https://cdn.svgporn.com/logos/trello.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      Treelo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
      <ul class="navbar-nav nav navbar-right me-4">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Board</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'  %>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav nav navbar-right me-4">
        <li class="nav-item active">
          <%= link_to 'Login', new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class:"nav-link" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
